* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background: rgb(190, 246, 89);
  background: linear-gradient(
    90deg,
    rgba(190, 246, 89, 1) 5%,
    rgba(37, 132, 57, 1) 100%
  );
}
nav {
  overflow: hidden;
  position: relative;
}

nav a {
  float: left;
  text-align: center;
  color: #111;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 35px;
  display: block;
}

nav a.active {
  color: black;
  font-size: 50px;
}

nav .icon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
  }
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

main {
  background: rgb(190, 246, 89);
  background: linear-gradient(
    90deg,
    rgba(190, 246, 89, 1) 5%,
    rgba(37, 132, 57, 1) 100%
  );
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 38px;
}

.xlarge-font {
  font-size: 48px;
  padding-right: 5px;
}

.button {
  border: none;
  color: white;
  padding: 16px 30px;
  font-size: 17px;
  cursor: pointer;
  background-color: #111;
  border-radius: 35px;
  margin-top: 50px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    background-color: #111;
  }
  to {
    background-color: white;
    color: #111;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}
.flex-container h2 {
  padding: 10px;
}
.fa-tv,
.fa-android,
.fa-images {
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}

.flex-item-left,
.flex-item-middel,
.flex-item-right {
  padding: 10px;
  flex: 33.3%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.downlowd {
  text-align: center;
  padding: 50px;
  color: white;
}

.fa-google-play {
  color: rgb(190, 246, 89);
  color: linear-gradient(
    90deg,
    rgba(190, 246, 89, 1) 5%,
    rgba(37, 132, 57, 1) 100%
  );
}

.button a:hover i {
  color: rgb(190, 246, 89);
  color: linear-gradient(
    90deg,
    rgba(190, 246, 89, 1) 5%,
    rgba(37, 132, 57, 1) 100%
  );
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  opacity: 0.6;
}
.footer-content h3:hover {
  opacity: 1;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}
.socials a {
  color: white;
  font-size: 20px;
}
.socials a:hover i {
  color: rgb(190, 246, 89);
  color: linear-gradient(
    90deg,
    rgba(190, 246, 89, 1) 5%,
    rgba(37, 132, 57, 1) 100%
  );
}
